body {
	margin: 0;
	font-family: "barlow-regular",san;
}

.contenedor {
	position: relative;
	width: 1086px;
	margin: 10px auto;
}

.pie_de_pag {
	display: flex;  /* Cambiado a flex para alinear horizontalmente */
	justify-content: center; /* Centra los elementos horizontalmente */
	align-items: center; /* Centra verticalmente */
	padding: 10px 0; /* Añade espacio arriba y abajo */
}

.esp32_fkm {
	width: 100%;
	display: block;
	border-radius: 8px;
}


.pin {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: rgba(215, 129, 106, 0.8);
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.2s;
}

.pin:hover {
	transform: scale(1.2);
	background-color: rgba(255, 255, 255, 0.8);
	border: 2px solid #D7816A;
}

.rect {
	position: absolute;
	width: 197px;
	height: 165px;
	border-radius: 2%;
	transition: transform 0.2s;
}

.rect:hover {
	background-color: rgba(255, 255, 255, 0.2);
}